html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #464646;
  fill: solid;

}


h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #512a3f;
}

p {
  padding: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #512a3f;
}

h5 {
  font-weight: 700;
  color: #512a3f;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.bg-pink {
  background-color: #703d57;
}

.bg-pink-creme {
  background-color: #d9b8c4;
}

footer {
  background-color: #512a3f;
  padding: 40px 0px;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  margin: 0 10px;
}

footer a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

footer p {
  font-size: 1.8rem;
}

.main-title {
  background-color: rgba(241, 228, 235, 0.4);
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-radius: 0 0 20px 20px;
}

.bg-foto {
  background-color: rgba(64, 42, 44, 0.5);
  padding: 35px;
  border-radius: 50px;
}


#karen-cadenas {
  background-image: url("../img/fondo-perfil.jpg");
  min-height: 800px;
  padding-top: 70px;
  padding-bottom: 2.5rem;
}

#karen-cadenas h1::before {
  content: "";
  position: absolute;
  width: 30.4rem;
  top: 150px;
  border-bottom: solid 3px;
}

.carousel-caption {
  color: #402a2c;
  background-color: rgba(241, 228, 235, 0.9);
  border-radius: 10px;
}

.btn-rose {
  background-color: #915071;
  border-color: #915071;
  color: #fff;
}

.btn-rose:hover {
  border-color: #b77b99;
  background-color: #b77b99;
  color: #fff;
}

.btn-rose:active {
  box-shadow: none;
  border-color: #b77b99;
  background-color: #b77b99;
  color: #fff;
}

.btn-rose:active:focus {
  box-shadow: none;
}

.btn-rose:focus {
  box-shadow: none;
}